# OMENUbuntu:/home/dorer/projects/census/PovertyAssessmentToolkit/source/PAT/NAMESPACE 
useDynLib(PAT,loglin3)
#import(utils)
#import(Rtools)
import(survey)
import(censusapi)
import(jsonlite)
import(sas7bdat)
# export(hello.world)
# export(set.basedir)
export(loglinf3)
export(make.targets)
#export(set.census.key)
export(get.acs.table)
export(run.synth.data)
#export(acs.vintage)
#export(acs.period)
export(make.synth.model)
export(Ipfp0)
export(make.targets)
# export(Set.marginal.table)
export(census.key)
export(basedir)
export(srcdir)
export(datadir)
export(logdir)
export(acs.vintage)
export(spm.vintage)
export(acs.period)
export(acs.pums.period)
export(acs.pums.vintage)
#export(download.flag)
#export(cache.level)
export(convert.spm.sas7bdat)
export(convert.sas7bdat)
export(PAT.census.key)
export(PAT.root)
export(PAT.spm.vintage)
export(PAT.acs.pums.period)
export(PAT.acs.period)
export(PAT.acs.vintage)
export(PAT.cache.metadata)
export(PAT.download)
export(PAT.verbose)
export(PAT.get.options)
export(PAT.census.key)
export(PAT.define.synth.model)
export(AgeRaceSex.m)
export(HispanicAgeSex.m)
export(AgeSex.m)
export(HouseType.m)
export(Race.m)
export(get.puma.data)
export(PAT.Test.pdpv)
export(PAT.PUMS.variable.info)
# export(PAT.PUMS.variables)
export(PAT.define.PUMS.variable)
export(PUMS.person.variables)
export(PUMS.house.variables)
#export(SPM.PUMS.variables)
export(PUMS.spm.variables)
export(PAT.clear.options)
export(copyright)
export(Employed.m)
export(DisabilityRace.m)
export(Education4.m)
export(Education.m)
export(Tenure.m)
export(MaritalStatus3.m)
export(MaritalStatus3a.m)
export(MaritalStatus7.m)
export(Poverty2.m)
export(Poverty4.m)
export(FamilyType3.m)
export(HealthIns3.m)
export(PAT.age.code)
export(PAT.race.code)
export(PAT.builtin.models)
export(Education.v)
export(Age7a.v)
export(Sex.v)
export(EducationHead.v)
export(Age3.v)
export(Age9.v)
export(Age9a.v)
export(Tenure.v)
export(Employed.v)
export(HousingCost.v)
export(FamilyType.v)
export(Poverty2.v)
export(Poverty3.v)
export(Disability.v)
export(PAT.builtin.models)
export(PAT.return.model)
