# OMENUbuntu:/home/dorer/projects/census/PovertyAssessmentToolkit/source/PAT/NAMESPACE 
useDynLib(PAT,loglin3)
#import(utils)
#import(Rtools)
import(survey)
import(censusapi)
import(jsonlite)
import(sas7bdat)
# export(hello.world)
# export(set.basedir)
export(loglinf3)
export(Ipfp0)
export(make.targets2)
export(adjust.margins)
export(make.spm.state)
#export(set.census.key)
export(get.acs.table)
# export(run.synth.data)
#export(acs.vintage)
#export(acs.period)
#export(make.synth.model)
export(Ipfp0)
#export(make.targets)
# export(Set.marginal.table)
#export(census.key)
export(basedir)
export(srcdir)
export(datadir)
export(logdir)
export(outdir)
#export(acs.vintage)
#export(spm.vintage)
#export(acs.period)
#export(acs.pums.period)
#export(acs.pums.vintage)
#export(download.flag)
#export(cache.level)
export(PAT.synth.data)
export(PAT.run.jobs)
export(PAT.merge.synth.data)
export(convert.spm.sas7bdat)
export(convert.sas7bdat)
export(PAT.census.key)
export(PAT.root)
export(PAT.spm.vintage)
export(PAT.pums.period)
export(PAT.pums.vintage)
export(PAT.acs.period)
export(PAT.acs.vintage)
export(PAT.cache.metadata)
export(PAT.download)
export(PAT.verbose)
export(PAT.get.options)
export(PAT.set.age.race)
#export(PAT.census.key)
# export(PAT.define.synth.model)
export(SplitString)
export(PAT.acs.table)
export(WeightedSum)
export(PAT.test.model)
export(PAT.test.synth.data)
export(PAT.run.jobs)
export(PAT.puma.tract)
export(Sex.m)
export(PAT.convert.spm)
export(make.spm.state)
export(AgeRaceSex.m)
export(MaritalStatus3.m)
# export(MaritalStatus3b.m)
export(Poverty3.m)
export(HispanicAgeSex.m)
export(AgeSex.m)
export(HouseType.m)
export(Race.m)
export(Race3.m)
export(Race5.m)
export(Race.v)
export(Race3.v)
export(Race5.v)
export(Race7.v)
export(Disability.v)
export(HealthIns3.v)
# export(get.puma.data)
export(PAT.pums.data)
# export(PAT.Test.pdpv)
# export(PAT.PUMS.variable.info)
# export(PAT.PUMS.variables)
export(PAT.define.pums.variable)
export(PUMS.person.variables)
export(PUMS.house.variables)
#export(SPM.PUMS.variables)
export(PUMS.spm.variables)
export(PAT.clear.options)
export(PAT.copyright)
export(Employed.m)
export(DisabilityRace.m)
export(Education4.m)
export(Education.m)
export(Tenure.m)
export(MaritalStatus3a.m)
export(MaritalStatus7.m)
export(Poverty2.m)
export(Poverty4.m)
export(DisabilityRace.m)
export(FamilyType3.m)
export(HealthIns3.m)
export(PAT.age.code)
export(PAT.race.code)
export(Education.v)
export(Sex.v)
export(EducationHead.v)
export(Age.v)
export(Age3.v)
export(Age3a.v)
export(Age6.v)
export(Age6a.v)
export(Age7a.v)
export(Age9.v)
export(Age9a.v)
export(Age12.v)
export(MaritalStatus3.v)
export(MaritalStatus7.v)
export(Tenure.v)
export(Tenure2.v)
export(Employed.v)
export(EmployedHouse18.v)
export(HousingCost.v)
export(FamilyType.v)
export(FamilyType3.v)
export(Poverty2.v)
export(Poverty3.v)
export(Poverty4.v)
export(Hispanic.v)
export(SPM3.v)
export(WIC.v)
export(SNAP.v)
export(Disability.v)
export(Poverty3.v)
export(Poverty2.v)
export(Education4.v)
export(HispanicAgeSex)
# export(PAT.builtin.models)
# export(PAT.return.model)
export(PennsylvaniaI.model)
export(BrooklineI.model)
export(BrooklineII.model)
export(BrooklineIII.model)
export(NewYorkCityI.model)
export(TestI.model)
export(VirginiaI.model)
